body {
	margin: 0;
	background-image: url(C:/Users/jkk12/Desktop/Basic-Portfolio/assets/images/mirrored_squares_@2X.png);
}

header {
	margin-bottom: 40px;
	background-color: white;
	width: 100%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;


}

#top {
	display: flex;
	flex-direction: row;
}

#tab {
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
	width: 250px;
	height: 83px;
	background-color: #4aaaa5;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	margin-left: 145px;
	margin-right: 280px;

}

nav {
	float: right;
	display: inline-block;
	margin-right: 45px
	margin-top: 30px;
	padding-top: 25px;
	padding-right: 100px;
}

nav ul li {
	margin-left: 35px;
	display: inline-block;
	color: #777777;

}


.main_content {
	width: 650px;
	height: 445px;
	border: 1px solid #dddddd;
	padding: 20px 30px 195px 30px;
	background-color: white;
	margin-left: 145px;
	margin-right: 0px;
	display: inline-block;
	float: left;

}

#page_name{
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: solid #dddddd;
	padding-bottom: 30px;
	color: #4aaaa5;
}


#profile_pic {
	display: inline-block;
	height: 150px;
	width: 150px;
	float: left;
	margin-right: 25px;
}

#about_me {
	text-align: right;
	display: inline-block;
}

.icons {
	height: 50px;
	width: 50px;
	display: inline-block;
	margin: 0px;
}

#icons_box {
	
	padding-left: 25px;
	padding-top: 2px;
	
}

.social_box {
	width: 270px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	height: 165px;
	border: 1px solid #dddddd;
	padding: 20px 20px 40px 13px;
	background-color: white;
	margin-left: 45px;
	margin-right: 225px;
	display: inline-block;
	float: left;
}

#social_container {
	padding-top: 0px;

}

.social_box li {
	display: inline-block;
	
}

#connect_title {
	text-align: center;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 30px;


}

.container{
	display:flex;
	flex-direction: row;

}



#crossword {
	
	position: relative;
	height: 150px;
	width: 150px;
	display: inline-block;
	float: left;
	margin-right: 100px;
	margin-left: 60px;
}

#collegesearch {
	
	position: relative;
	height: 150px;
	width: 150px;
	display: inline-block;
	float: left;
	margin-bottom: 20px;


}

#cardgame {
	
	position: relative;
	height: 150px;
	width: 150px;
	display: inline-block;
	float: left;
	margin-right: 100px;
	margin-left: 60px;


}

#triviagame {
	
	position: relative;
	height: 150px;
	width: 150px;
	display: inline-block;
	float: left;
	margin-bottom: 20px;
	margin-right: 60px;	
	
}

#scheduler {
	
	position: relative;
	height: 150px;
	width: 150px;
	display: inline-block;
	margin-left: 60px;
	float: left;
	margin-right: 0px;
	left: .5%;
	
}

img {
	width: 100%;
	height: 100%;
}

#label1 {
	bottom: 5%;
	position: absolute;
	text-align: center;
	background-color: #4aaaa5;
	padding: 10px;
	width: 130px;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#label2 {
	bottom: 5%;
	position: absolute;
	text-align: center;
	background-color: #4aaaa5;
	padding: 10px;
	width: 130px;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#label3 {
	bottom: 5%;
	position: absolute;
	text-align: center;
	background-color: #4aaaa5;
	padding: 10px;
	width: 130px;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#label4 {
	bottom: 5%;
	position: absolute;
	text-align: center;
	background-color: #4aaaa5;
	padding: 10px;
	width: 130px;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#label5 {
	bottom: 5%;
	position: absolute;
	text-align: center;
	background-color: #4aaaa5;
	padding: 10px;
	width: 130px;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#footer {
	text-align: center;
	background-color: #666666;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 30px;
	border-top: 5px solid #4aaaa5;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}
